body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    display: flex;
    justify-content: center;  
    align-items: center;      
}
/*background-image: url(./cinema.jpg);*/


form {
    background-color: white; 
    padding: 20px;           
    border-radius: 10px;     
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;             
    max-width: 400px;       
    text-align: center;      
}

p {
    font-size: 16px; 
    color: #333;     
    margin-bottom: 8px; 
    padding: 4px; 
}


input[type="text"], input[type="password"] {
    width: 100%;             
    padding: 12px;            
    margin-bottom: 20px;      
    border: 1px solid #ccc;  
    border-radius: 8px;     
    font-size: 14px;          
    box-sizing: border-box;   
}

input:focus {
    border-color: #050505; 
    outline: none;          
}

.icon {
    cursor: pointer; 
    position: absolute; 
    right: 10px; 
    top: 35px; 
}

.botao {
    width: 100%;             
    padding: 12px;            
    background-color: #a00627; 
    color: white;             
    font-size: 16px;          
    font-weight: bold;        
    border: none;             
    border-radius: 8px;       
    cursor: pointer;         
    transition: background-color 0.3s, transform 0.2s; 
}

.botao:hover {
    background-color: #000000; 
}

.botao:active {
    background-color: #a00627; 
    transform: translateY(2px); 
}

.buttonLogin {
    margin-bottom: 20px; 
}

a {
    text-decoration: none; 
    display: flex;
    justify-content: center; 
}

a button {
    background-color: #a00627; 
    width: 100%;             
    padding: 12px;            
    color: white;            
    font-size: 16px;         
    font-weight: bold;        
    border: none;             
    border-radius: 8px;       
    cursor: pointer;         
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}

a button:hover {
    background-color: #000000; 
    transform: translateY(-2)
}