.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

/*
PALETA DE CORES DO SITE

#070743
#169d99
#ffecd1 

*/